/* Resetta i margini e il padding per tutti gli elementi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo della pagina */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* Sfondo nero */
    color: #66ff66; /* Testo verde */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Nascondi overflow per evitare barre di scorrimento indesiderate */
}

/* Contenitore principale della pagina */
.container {
    text-align: center;
}

/* Stile per l'intestazione */
#header, #game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333333; /* Grigio scuro */
    color: #ffffff;
    position: relative;
    z-index: 10;
}

/* Stile per il display dei crediti */
#credit-display, #game-credit-display {
    font-size: 1.2em;
}

/* Stile per i pulsanti */
button {
    padding: 15px 30px;
    border: none;
    background-color: #66ff66; /* Verde meno acido */
    color: #000000;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

/* Effetto hover per i pulsanti */
button:hover {
    background-color: #55cc55; /* Verde scuro per l'hover */
    transform: scale(1.1);
}

/* Contenitore del gioco */
#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* Scene AR - occupa tutto lo spazio disponibile */
a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Pulsanti in alto a destra e in basso a sinistra */
#exit-button, #hint-button, #finish-button {
    z-index: 2;
    background-color: #66ff66;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

/* Effetto hover per i pulsanti AR */
#exit-button:hover, #hint-button:hover, #finish-button:hover {
    background-color: #55cc55;
}

/* Pulsante di terminazione - posizione fissa in basso a sinistra */
#finish-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Nasconde gli elementi con la classe 'hidden' */
.hidden {
    display: none;
}