body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Sfondo nero */
    color: #ffffff;
    text-align: center;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.9); /* Sfondo quasi nero per il contenitore */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out; /* Aggiungi un'animazione di fade-in */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #66ff66; /* Verde meno acido */
}

button {
    padding: 15px 30px;
    border: none;
    background-color: #66ff66; /* Verde meno acido */
    color: #000000;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #55cc55; /* Verde scuro per l'hover */
    transform: scale(1.1);
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: 1px solid #66ff66; /* Verde meno acido */
    border-radius: 5px;
    width: calc(100% - 22px);
}

a {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    text-decoration: none;
    color: #000000;
    background-color: #66ff66; /* Verde meno acido */
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #55cc55; /* Verde scuro per l'hover */
    transform: scale(1.1);
}

#credits {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #66ff66; /* Verde meno acido */
}

.difficulty {
    margin: 20px 0;
}

.difficulty select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #66ff66; /* Verde meno acido */
    border-radius: 5px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

video, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Resto del CSS */
.hidden {
    display: none;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#video, #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#exit-button, #hint-button, #finish-button {
    position: absolute;
    z-index: 2;
    padding: 10px 20px;
    background-color: #66ff66;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#exit-button {
    top: 20px;
    left: 20px;
}

#hint-button {
    top: 20px;
    right: 20px;
}

#finish-button {
    bottom: 20px;
    left: 20px;
}

#exit-button:hover, #hint-button:hover, #finish-button:hover {
    background-color: #55cc55;
}